<p>En este módulo iría la API de google para poder ver en tiempo real el tráfico.</p>

<div class="mapa">
    <div class="row">
      <div class="col justify-content-center">
        <div class="row justify-content-center">
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3369.031695576827!2d-63.23803698520721!3d-32.39151205133088!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95cc42cdd338b933%3A0x15547a3f42b7b110!2sInt.%20Urtubey%201254%2C%20Villa%20Mar%C3%ADa%2C%20C%C3%B3rdoba!5e0!3m2!1ses-419!2sar!4v1591112857087!5m2!1ses-419!2sar" width="1000" height="300" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
        </div>
      </div>
    </div>
  </div>