<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar class="tool"><span class="tit">Menú</span></mat-toolbar>
      <mat-nav-list class="list">
        <a mat-list-item [routerLink]="['inicio']" routerLinkActive="router-link-active" >Inicio</a>
        <a mat-list-item [routerLink]="['nosotros']" routerLinkActive="router-link-active">Nosotros</a>
        <a mat-list-item [routerLink]="['mapa']" routerLinkActive="router-link-active">Mapa</a>
        <a mat-list-item [routerLink]="['contacto']" routerLinkActive="router-link-active">Contacto</a>
      </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button> 
      <!-- <span><a [routerLink]="['inicio']">VMI</a></span> -->
      <span class="spacer"></span>
      <a [routerLink]="['inicio']" routerLinkActive="router-link-active"  class="logout">Salir</a>
    </mat-toolbar>
    
    <router-outlet></router-outlet>

    <footer>
      <app-comp-footer></app-comp-footer>
    </footer>

  </mat-sidenav-content>
</mat-sidenav-container>


